@import 'vars';

.product-item{
    display: flex;
    align-items: center;
    min-width: 59.375em;
    border-left: .15em solid transparent;
    background-color: transparent;
    color:darken($fond, 40);

    .check{
        padding: 1em;
        flex-shrink: 0;
    }

    .inf{
        width: 40%;
        padding: 0 1em;
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }

    .price{
        flex-shrink: 0;
        width: 10%;
        text-align: right;
    }

    .stock{
        width: 15%;
        text-align: right;
    }

    .inactive{
        color: $light-error-color;
    }

    .active{
        color: $light-success-color;
    }

    .buttons{
        width: 10em;

        .action{
            font-size: 1.5em;
            color: inherit;
            border-radius: 50%;
            border: none;
            background-color: transparent;
            transition-duration: .25s;

            &:hover, &:focus{
                color: $primary;
            }
        }
    }

    &:nth-child(even){
        background-color: rgba(0,0,0, .04);
    }

    /* &:first-child{
        border-radius: .25em .25em 0 0;
    } */

    &:last-child{
        border-radius: 0 0 .25em .25em;
    }

    &.selected{
        background-color: rgba($primary, .075);
        border-color: $primary;
    }

    &.selected:nth-child(even){
        background-color: rgba($primary, .1);
    }
}

@media (min-width: 250px){
    .product-item{
        min-width: 950px;
    }
}