@import '../vars';

.search-selector {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	width: 100%;
	height: 100%;
	padding: 0 1em;
	border-radius: 0.25em;

	&__header {
		flex-shrink: 0;
		padding: 0 0.25em;
		color: white;
		text-shadow: 0 0 1em black;
		text-transform: uppercase;
	}

	&__body {
		flex-shrink: 1;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: calc(100% - (1px + 4.449em));
		border-radius: 0.5em;

		&__list-container {
			max-height: 100%;
			border-radius: inherit;
			background-color: white;

			&__input-container {
				display: flex;
				align-items: center;
				color: lighten($secondary, 20);
				border-radius: inherit;
				border: 1px solid darken($fond, 30);

				.MuiSvgIcon-root {
					flex-shrink: 0;
					margin-right: 0.25em;
					margin-left: 0.5em;
					font-size: 1.5em;
					color: inherit;
				}

				input {
					width: 100%;
					padding: .25em .5em;
					font-size: 1.5em;
					color: inherit;
					outline: none;
					border: none;
					background-color: transparent;
				}
			}

			&__list {
				max-height: calc(100% - (2px + 2.5em));
				border-bottom-left-radius: 0.5em;
				border-bottom-right-radius: 0.5em;
				overflow: auto;


				&__item {
					display: flex;
					gap: 0.5;
					border-bottom: 1px solid darken($fond, 10);

					&:hover {
						background-color: rgba($primary, .125);
					}

					&:last-child { 
						border-bottom-left-radius: inherit;
						border-bottom-right-radius: inherit;

						&__checkbox {
							border-bottom-left-radius: inherit;
						}

						&__content {
							border-bottom-right-radius: inherit;
						}
					}

					&__checkbox {
						display: flex;
						align-items: flex-start;
						justify-content: center;
						flex-shrink: 0;
						padding: 0.5em;
					}

					&__content {
						width: 100%;
						padding: 0.5em;
						cursor: pointer;
					}
				}
			}
		}

		&__loader, &__message {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			color: white;
		}

		&__message {
			font-size: 1.5em;
			text-align: center;
			text-shadow: 0 0 .25em black;
		}
	}

	&__footer {
		display: flex;
		align-items: bottom;
		justify-content: right;
		gap: 0.5em;
		flex-shrink: 0;
		margin-top: .5em;

		.MuiButtonBase-root {
			font-size: 1em;
			color: white;
			text-shadow: 0 0 1em black;
			background-color: rgba(0, 0, 0, .25);

			&:hover {
				background-color: rgba($primary, .25);
			}
		}
	}
}